.App {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.container {
  width: 360px;
  display: flex;
  padding: 20px;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(40, 40, 40, 1)
    radial-gradient(center, rgb(42, 51, 68), rgba(0, 20, 20, 0.6));
}

.selector-container {
  width: 60%;
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  background-color: white;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #6919197d;
}

.row {
  display: flex;
  align-content: center;
  justify-content: center;
}

.selector-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.selector-button {
  padding: 5px;
  cursor: pointer;
  background: none;
  border-radius: 5px;
  border: 2px solid #5f2d2d;
}

.selector-button:hover {
  background-color: #5f2d2d;
}

.selector-text {
  font-size: 20px;
}

.button-text {
  margin: 0;
}

.selector-button:hover .button-text {
  color: white;
}
